<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaozhen.fruitbuyer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.FBApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.MyFruitFriendActivity" />
        <activity android:name=".activity.MyWalletActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SeekActivity" />
        <activity android:name=".activity.OpeGardenActivity" />
        <activity android:name=".activity.MyCouponActivity" />
        <activity android:name=".activity.EditUserInfoActivity" />
        <activity android:name=".activity.FruitDetailActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.MesgeDetailActivity" />
        <activity android:name=".activity.MySystemMessageActivity" />
        <activity android:name=".activity.MyBillActivity" />
        <activity android:name=".activity.IndividuationActivity" />
        <activity android:name=".activity.GoodsDetailActivity" />
        <activity android:name=".activity.AttentionFruitActivity" />
        <activity android:name=".activity.MyShopActivity" />
        <activity android:name=".activity.AttentionFruiterActivity" />
        <activity android:name=".activity.MyIntegralActivity" />
        <activity android:name=".activity.ForActivity" >
        </activity>
    </application>

</manifest>
